Repository actually-colab/editor, pull requests merged in 2021-03, with the labels that each got.

#58 Get notebook contents
  client/src/REST/connection.ts
  client/src/REST/notebook.ts
  client/src/REST/types.ts
  server/serverless.yml
  server/src/db/pgsql/models/Notebook.ts
  server/src/rest/get-notebook-contents.ts
Labels: REST, client, database, difficulty: hard, priority: medium, server

#59 Updated return type of getNotebooksForUser and getNotebookContents
  client/src/REST/notebook.ts
Labels: bug, client

#60 Add create_cell socket event
  server/pgsql-local/init-db.sql
  server/serverless.yml
  server/src/db/pgsql/models/Cell.ts
  server/src/socket/cell/create-cell.ts
Labels: database, difficulty: medium, priority: high, server, socket

#61 Socket client event wrappers
  client/package.json
  client/src/REST/connection.ts
  client/src/REST/notebook.ts
  client/src/index.ts
  client/src/socket/client.ts
  client/src/types.ts
  client/yarn.lock
  server/src/db/pgsql/connection.ts
  server/src/socket/cell/create-cell.ts
  server/src/socket/cell/edit-cell.ts
  server/src/socket/connection.ts
  server/src/socket/notebook/open-notebook.ts
  tests/jest.config.ts
  tests/start-offline.ts
  tests/tests/index.test.ts
  tests/yarn.lock
Labels: client, difficulty: hard, priority: high, socket

#63 Fix return types of client notebook functions
  client/src/REST/notebook.ts
Labels: bug, client

#78 Add triggered_by field to server -> client socket events
  client/src/socket/client.ts
  server/src/socket/cell/create-cell.ts
  server/src/socket/cell/edit-cell.ts
  server/src/socket/cell/lock-cell.ts
  server/src/socket/cell/unlock-cell.ts
  server/src/socket/notebook/open-notebook.ts
Labels: client, difficulty: low, priority: medium, server, socket

#79 Encode tokens with uid instead of email and sanitize inputs
  server/src/authorizer/login.ts
  server/src/authorizer/token.ts
Labels: auth, bug, code quality, priority: low, server

#83 Changed client cell language from python3 to python
  client/src/socket/client.ts
  client/src/types.ts
  server/socket_scripts.md
Labels: bug, client

#92 Clean-up Types for Models
  server/src/authorizer/token.ts
  server/src/db/pgsql/models/ActiveSession.ts
  server/src/db/pgsql/models/Cell.ts
  server/src/db/pgsql/models/ModelBase.ts
  server/src/db/pgsql/models/Notebook.ts
  server/src/db/pgsql/models/NotebookAccessLevel.ts
  server/src/db/pgsql/models/User.ts
  server/src/rest/get-notebook-contents.ts
  server/src/rest/get-notebooks.ts
  server/src/rest/post-notebook.ts
  server/src/rest/share-notebook.ts
  server/src/socket/cell/create-cell.ts
  server/src/socket/cell/edit-cell.ts
  server/src/socket/cell/lock-cell.ts
  server/src/socket/cell/unlock-cell.ts
  server/src/socket/notebook/open-notebook.ts
Labels: code quality, documentation, priority: low

#93 Improve READMEs for Editor
  README.md
  client/README.md
  server/README.md
Labels: client, difficulty: low, documentation, priority: low, server

#94 Refactor REST Client to Class
  client/src/REST/client.ts
  client/src/REST/connection.ts
  client/src/REST/notebook.ts
  client/src/index.ts
  client/src/socket/client.ts
  client/src/types.ts
  tests/tests/index.test.ts
  tests/yarn.lock
Labels: REST, client, code quality

#95 Add unit tests for REST API
  client/src/REST/client.ts
  client/src/types.ts
  server/src/rest/share-notebook.ts
  tests/package.json
  tests/tests/index.test.ts
  tests/tests/rest.test.ts
  tests/yarn.lock
Labels: REST, client, code quality, testing

#97 Accept language and cursor_pos in edit_cell
  client/src/socket/client.ts
  client/src/types.ts
  server/pgsql-local/init-db.sql
  server/socket_scripts.md
  server/src/db/pgsql/models/Cell.ts
  server/src/socket/cell/edit-cell.ts
Labels: client, server, socket

#98 Flush edit cell before unlocking
  client/src/socket/client.ts
Labels: bug, client

#101 Remove duplication of broadcasting socket messages
  server/src/socket/cell/create-cell.ts
  server/src/socket/cell/edit-cell.ts
  server/src/socket/cell/lock-cell.ts
  server/src/socket/cell/unlock-cell.ts
  server/src/socket/client-management.ts
  server/src/socket/notebook/open-notebook.ts
Labels: code quality, difficulty: low, priority: low, server, socket

#102 Remove export for @actually-colab/editor-types
  client/src/index.ts
Labels: bug, client, code quality

#103 Clean-up Server Codebase
  server/src/authorizer/lambda-authorizer.ts
  server/src/db/pgsql/models/Cell.ts
  server/src/db/pgsql/models/NotebookAccessLevel.ts
  server/src/rest/get-notebook-contents.ts
  server/src/rest/get-notebooks.ts
  server/src/rest/post-notebook.ts
  server/src/rest/route-helpers.ts
  server/src/rest/share-notebook.ts
  tests/jest.config.ts
  tests/package.json
  tests/tests/index.test.ts
  tests/tests/rest.test.ts
  tests/yarn.lock
Labels: code quality, difficulty: low, priority: low, server, testing

#104 Add notebook_closed event
  client/src/socket/client.ts
  server/src/db/pgsql/models/ActiveSession.ts
  server/src/socket/connection.ts
  server/src/socket/notebook/open-notebook.ts
Labels: client, difficulty: medium, priority: low, server, socket
